__pycache__/
.vscode/
oc_ds_converter/pubmed/support_files/
*/support_files/
.idea
test/jalc_process/meta_input_with_citing/
test/preprocess/
storage/
analysis_scripts/
test/openaire_process/1_tar_sample/part0_decompr_zip_dir/
test/openaire_process/1alt_tar_sample/part2_decompr_zip_dir/
test/openaire_process/2_tar_sample/part0_decompr_zip_dir/
test/openaire_process/2_tar_sample/part1_decompr_zip_dir/